@page
@model Bnka.Pages.Nations.NewModel
@{
}
<h1>Add nationalty</h1>
<form method="post">
    <label>Natioanlty Name</label>
    <input id="natioalty" name="natioalty" />
    <button type="submit">Add</button>

</form>